/*NULL*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2")
    format("woff2");
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.header__container {
}

.logo {
  position: relative;
  padding: 50px 0;
  text-align: center;
  font-size: 38px;
}
.logo__link {
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.logo__link image {
  object-position: top;
}
.logo__image {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header__nav {
  z-index: 2;
}
.nav {
 
  background-color: #253242;
  
}
.nav__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -5px;
  position: relative;
}
.nav__link {
  color: #aeb3b9;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.nav__link:hover {
  background-color: #fff;
  color: #000;
}
.nav__link {
  
  margin-left: 5px;
}
.nav__link:last-child {
  margin-left: auto;
}
.nav__link:first-child,
.nav__link:last-child {
  text-transform: uppercase;
}
.nav__item {
  padding: 0.5em 1.5em;

}

.sub-nav__items {
  position: absolute;
  top: 32px;
  left: 108px;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.sub-nav__link {
  display: inline-block;
  padding: 15px 10px;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.sub-nav__link:hover {
  color: #000;
}
.page {
  flex: 1 1 auto;
  margin-top: 300px;
}
.page__container {
  display: flex;
  flex-direction: column;
}
.page__monitoring {
  padding: 50px 0px;
  position: relative;
  background-color: rgb(115, 170, 170);
}
.monitoring {
  text-align: center;
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
}
.page__chat {
  margin-top: 1.5em;
  padding: 50px 0px;
  background-color: rgb(115, 170, 170);
}
.chat {
  text-align: center;
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
}
.footer {
}
.footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__icon {
  margin: 1em 0;
}
.footer__icon img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.footer__copy-right {
  padding: 8px 250px;
  background-color: rgb(205, 217, 255);
}
@media (max-width: 718px) {
  .nav__link:last-child {
    margin-left: 5px;
  }
  .monitoring {
    font-size: 2em;
  }

  .chat {
    font-size: 2em;
  }
  .page {
    margin-top: 350px;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.082);
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0 auto;
}
.popup__body {
  width: 30vw;
  height: 44vh;
  background:  url("../images/bg/bg-nav.png") rgb(63, 63, 68) repeat ;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  z-index: 3;
}
.popup__form {

}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.form__label {
}
.form__input {
  margin-bottom: 20px;
  width: 20vw;
  height: 1vh;
  padding: 30px;
  font-size: 20px;
}
.form__btn{
  margin-top: 1em;
  padding: 20px 0;
  background: #253242;
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
  color: #fff
}
.popup__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
._active{
  display: block;
}